<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>
<body>

<h1>게시판 목록</h1>

<th:block th:each="notice : ${notices}">
  <a th:text="${notice.id}"></a>
  <img th:src="@{|https://bucketl42w7ximgexam.s3.ap-northeast-2.amazonaws.com/${notice.getImg}|}" alt="amazonImg" style="width: 80px; height: 80px" />
  <a th:href="@{|/readdetail/${notice.id}|}"
     th:text="${notice.title}"></a>
  <a th:text="${#temporals.format(notice.getDate(), 'yyyy-MM-dd HH:mm')}"></a>
  <br>
</th:block>

<br>

<a href="/create">게시글 작성</a>

</body>
</html>